*{
    margin:0;
    padding:0;
	font-family: Verdana, Geneva, sans-serif !important;
}

h1, h2, h3{
    text-align: center;
}

.titleindex, .titleedificio, .titledepartamento, .titlebiblio, .titlecontact, .titlenos, h2, h3{
  text-align: center;
  color: #12270c;
}

header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    width: 100%;
    left: 0;
}
menu {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
li {
  margin-left: 18px;
}
footer {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    margin-top: 10px;
    width: 100%;
    bottom: 0;
}
.imgindex, .imgbiblio, .imgconformacion, .imgedificio{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgcontacto{
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logobio{
    width:100%;
    max-width:200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    text-align: center;
    color: #7ed957;
    background-color: #003380;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}
.nav:hover {
    text-align: center;
    color: #003380;
    background-color: #7ed957;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}
a{
  text-align: center;
  text-decoration: none;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  display: inline-block;
}
a:hover{
  text-align: center;
  color: #7ed957;
  background-color: #003380;
  text-decoration: none;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  display: inline-block;
}
table, th, td{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    max-width: 100%;
    text-align: center;
}
/*.ytvideo{
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}*/
.ytvideo{
    position: relative;
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
  .ytvideo iframe{
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
form {
  /* Center the form on the page */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width:600px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
}
form li + li {
  max-width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: right;
}
input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
input[type=submit]{
    color:#ffffff;
    background-color:#3f743c ;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color:#c9e265;
    color:#3f743c ;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
  margin-left: auto;
  margin-right: auto;
}
button {
  margin-left: auto;
  margin-right: auto;
}